*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --fundoClaro: #E5DACA;
    --header: #F6EDE6;
    --headerFont: #5D3722;
    --problemaColor: #563930;
    --diferencialColor: #4A2319;
    --divsColor: #965827;
    --divPublicoAlvo: #CEB185;

}
body{
    background-color: var(--fundoClaro);

    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
header{
    background-color: var(--header);
    h2{
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--headerFont);
    }
}
div.cabecalho{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    div.anitrace{
        display: flex;
        margin-left: 3rem;
    }
    .anitrace{
        display: flex;
        justify-content: space-between;
        gap: 0.4rem;
        img{
            width: 1.5rem;
            height: 2rem;
            margin-top: 0;
        }
    }
    div.palavras{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    div.tema{
        display: flex;
        margin-right: 3rem;
        margin-left: 1rem;
        justify-content: space-between;
        gap: 0.6rem;

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
.topHome{
    width: 100%;
    position: relative;
    display: block;
    
}
.topHome::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}
.problema{
    display: flex;
    background-color: #fff;
    justify-content: flex-start;
    gap: 5rem;
    padding-top: 1rem ;
    img{
        width: 25rem;
        height: 20rem;
    }
    .textoEmPe{
        margin-right: 2.6rem;
        h1{
            margin-block: 3rem;
            color: var(--problemaColor);
        }
        p{
            font-size: 1.5rem;
        }
    }
}
.diferencial{
    h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--diferencialColor);
}
}
.divs{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: 4rem;
    div{
        margin-bottom: 1rem;

        
    }
    .primeira, .segunda, .terceira{
            div{
                height: 10rem;
                width: 26rem;
                border-radius: 0.8rem;
                background-color: var(--divsColor);
                padding: 3rem;
                p{
                    color: #fff;
                }
            }
        }
}

.publicoAlvo{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    margin-top: 3rem;
    align-items: center;
    img{
        height: 25rem;

    }
    div{
        margin-right: 4rem;
        background-color: var(--divPublicoAlvo);
        opacity: 80%;
        color: white;
        height: 20rem;
        padding-inline: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        border-radius: 3rem;
        
        h1{
            margin-bottom: 2rem;
        }
    }
}
.objetivo{
    background-color: white;
    padding-top: 4rem;
    margin-top: 2rem;
    p{
        margin-inline: 3rem;
    }
}
.flecha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.cheks{
    display: flex;
    align-items: center;

}
.alinhar{
    width: fit-content;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}