*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    a{
            text-decoration: none;
        }

    body {
    font-family: "Noto Sans", sans-serif;
}
body.escuro .pc .anitrace img,
body.escuro .mobile .anitrace img,
body.escuro .mobile .pins img,
body.escuro .flecha img,
body.escuro .cheks img,
body.escuro .quadrados .redondos img,
body.escuro .textoNos img {
    filter: brightness(0) invert(1);
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h2, h3 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

a {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}
}
.menuMobile {
    display: none;
}
:root {
    --fundoClaro: #E5DACA;
    --header: #F6EDE6;
    --headerFont: #5D3722;
    --rodape: #5D3722;
    --problemaColor: #563930;
    --diferencialColor: #4A2319;
    --divsColor: #965827;
    --divPublicoAlvo: #CEB185;
    --quadrados: #CF912A;
    --fundoTema: #C9BDBA;
    --branco: white;
    --preto: black;
    --inicio: #BEBD9E;
    --formulario: #BEBD9E;
    --areaEscrever: #e8dfcf;
    --aberta: #FC6C1D;
}
body.escuro {
    --fundoClaro: #03221C;
    --header: #8C4A10;
    --headerFont: #F6EDE6;
    --rodape: #8C4A10;
    --problemaColor: #F6EDE6;
    --diferencialColor: #F6EDE6;
    --divsColor: #245448;
    --divPublicoAlvo: #A7ABB1;
    --quadrados: #9191E9;
    --branco: black;
    --preto: white;
    --inicio: #245448;
    --formulario: #CFCCD5;
    --areaEscrever: #202020;
    --aberta: #FFA305;
}

.mobile{
    display: none;
}

body{
    background-color: var(--fundoClaro);

    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.pc {
    background-color: var(--header);
}

.pc h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--headerFont);
}

div.palavras {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
div.cabecalho{
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    align-items: center;
    background-color: var(--header);
    div.anitrace{
        display: flex;
        margin-left: 3rem;
        align-items: center;
    }

    .anitrace{
        display: flex;
        justify-content: space-between;
        gap: 0.4rem;

        img{
            width: 1.5rem;
            height: 2rem;
            margin-top: 0;
        }
    }

    div.palavras{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        .aberta{
    color: var(--aberta);
}
    }

    div.tema{
        display: flex;
        margin-right: 3rem;
        margin-left: 1rem;
        justify-content: space-between;
        gap: 0.6rem;

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }



}

.imagem {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.topHome {
    width: 100%;
    display: block;
    width: 100%;
}

.inicio{
    background-color: var(--inicio);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    h1{
        margin-left: 5rem;
        font-size: xxx-large;
        color: white;
    }
    .imagens{
        display: flex;
        img{
            width: 6rem;
        }
        div{
            display: flex;
            flex-direction: column;

            .tres{
                width: 30rem;
            }
            .quatro{
                margin-left: 5rem;
                width: 10rem;
            }
            .um{
                width: 14rem;
                margin-right: 4rem;
                margin-bottom: 2rem;

            }
            .dois{
                align-self: flex-end;
                margin-right: 3rem;
                width: 10rem;
            }
        }
        
    }
}
.quemsomos{
    margin-inline: 4rem;
    margin-top: 3rem;
}
.texto{
    h2{
        color: var(--quadrados);
        font-weight: 600 ;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    p{
        color: var(--preto);
    }
    margin-bottom: 2rem;
}
.meninas{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .tamanho{
        width: 272px;
    }

    div{
    background-color: var(--quadrados);
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    h3{
        margin-top: 0.6rem;
        color: #E5DACA;
        font-size: 2rem;
    }
        .foto{
            width: 13rem;
        }
    }
    .insta{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        padding-block: 0;
        

        a{
            text-decoration: none;
            color: #E5DACA;
            font-size: 1.1rem;
        }
    }
    
}
.meninos{
    display: flex;
    justify-content: space-between;
    margin-inline: 18rem;
    margin-top: 3rem;
    gap: 2rem;
    
    .tamanho{
        width: 272px;
    }
    div{
    background-color: var(--quadrados);
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    
    
    h3{
        margin-top: 0.6rem;
        color: #E5DACA;
        font-size: 2rem;
    }
        .foto{
            width: 13rem;
        }
    }
    
    .insta{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        padding-block: 0;
        

        a{
            text-decoration: none;
            color: #E5DACA;
            font-size: 1.1rem;
        }
    }
    
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--formulario);
    padding-inline: 4rem;
    padding-top: 3rem;
    margin-top: 6rem;
    padding-bottom: 4rem;
    h2{
        text-align: center;
        font-weight: 600;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }
}

.formulario input,
.formulario textarea {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--areaEscrever);
    border: 8px solid #087c29;
    border-radius: 16px;

    padding: 15px 22px;

    font-size: 18px;
    font-weight: bold;
}

.formulario input {
    height: 65px;
}

.formulario textarea {
    height: 220px;
    resize: none;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
    color: #b5b9bb;
    font-weight: bold;
}
button{
    background-color: var(--quadrados);
    padding: 1rem;
    border-radius: 3rem;
    width: 14rem;
    align-self: center;
    margin-top: 1.5rem;
}

.rodape{
    display: flex;
    background-color: var(--rodape);
    justify-content: space-between;
    padding-inline: 7rem;
    padding-block: 3rem;

    .anitrace{
        display: flex;
        align-items: center;
        gap: 0.6rem;

        h1{
            font-weight: 400;
        }

        color: white;

        img{
            width: 3.5rem;
        }
    }

    .links{
        color: white;
        font-weight: 300;

        h2{
            color: white;
            margin-bottom: 0.5rem;
        }
    }

    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        color: white;

        div{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }






}





















@media (max-width: 768px) {
    .menuBotao {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.imagem .botao {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--quadrados);
    font-size: 1.6rem;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 0.7rem;
}

.menuMobile {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background-color: var(--branco);
    z-index: 10;
    padding: 2rem;
    transition: right 0.3s ease;

    .tema {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--fundoTema);
    width: fit-content;
    padding: 0.35rem;
    border-radius: 2rem;
}

.tema img {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.tema .claro {
    background-color: var(--divsColor);
    padding: 0.4rem;
}
.tema.escuro .claro {
    background-color: transparent;
}

.tema.escuro .escuro {
    background-color: var(--divsColor);
}
}

.menuMobile.aberto {
    right: 0;
}

.menuCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.menuCabecalho h2 {
    color: var(--headerFont);
}

.menuCabecalho button {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--headerFont);
    cursor: pointer;
}

.menuMobile a {
    display: block;
    color: var(--headerFont);
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

    
    .mobile h2{
        color: var(--headerFont);
        font-weight: 400;
    }
    /* Imagem principal */
    .topHome {
        height: 500px;
        object-fit: cover;

        
    }
    .imagem h3 {
        top: 40%;
        padding-inline: 1rem;
    }
    .botao{
        text-align: center;
    }
    /* Conteúdo da imagem */
    .conteudoHome h1 {
        font-size: 32px;
    }

    .conteudoHome h3 {
        font-size: 18px;
        max-width: 90%;
        
        .imagem h3 {
        top: 40%;
    }
    }

    .pc {
        display: none;
    }
    .mobile {
        display: block;
        width: 100%;
        background-color: var(--header);
    }

    .mobile .conteudo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        margin: 0;
        width: 100%;
    }

    .mobile .anitrace {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .mobile .anitrace img {
        width: 1.5rem;
        height: 2rem;
    }

    .mobile .pins {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

    .mobile .pins > img {
    width: 1.5rem;
    height: 1.5rem;
}

.mobile .pins .menuBotao {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

    .problema{
        flex-direction: column;
        gap: 0;
        padding-inline: 2rem;

        .textoEmPe{
            margin: 0;
        }
    }

    .divs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-inline: 0;
    }

    

    .rodape{
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        gap: 1rem;
        flex-direction: column;
        background-color: var(--rodape);
        h1, h2, a{
            color: white;
        }
        .links {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        width: 100%;

        h2 {
        font-size: 1.1rem;
        font-weight: 400;
        white-space: nowrap;
    }
    }
        .anitrace{
            display: flex;
            flex-direction: column;
        }
        .redes{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            color: white;
        }
    }
 .textoNos{
            margin-left: 4rem;
            p{
                margin-block: 3rem;
            }
        }
        .objetivo{
            padding-inline: 2rem;
            p{
                margin: 0;
            }
        }

body:not(.escuro) .mobile .anitrace h2 {
    color: #502F1D;
}

/* Logo */
body:not(.escuro) .mobile .anitrace img {
    filter: brightness(0) saturate(100%)
            invert(20%) sepia(20%) saturate(1000%)
            hue-rotate(345deg) brightness(88%)
            contrast(92%);
}

/* Lupa e 3 tracinhos */
body:not(.escuro) .mobile .pins img {
    filter: brightness(0) saturate(100%)
            invert(20%) sepia(20%) saturate(1000%)
            hue-rotate(345deg) brightness(88%)
            contrast(92%);
}








}